<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>博美开泰</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/cssreset.css">
    <link rel="stylesheet" href="../public/css/header_footer.css">
    <link rel="stylesheet" href="../public/css/common/aboutus.css">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top index_nav">
   <div class="container">
        <div class="navbar-header">
            <a href="../index.html" class="my-logo"><img src="../public/images/logo.png" alt=""></a>
            <a href="#menu" class="navbar-toggle" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div id="menu" class="collapse navbar-collapse">
            <!--菜单-->
            <ul class="nav navbar-nav navbar-right text-center">
                <li><a href="../index.html">首页</a></li>
                <li><a href="./company_introduce.html" class="active">关于我们</a></li>
                <li><a href="../product/product.html">产品管理</a></li>
                <li><a href="../partner/business.html">业务合作</a></li>
                <li><a href="../news/company_news.html">公司新闻</a></li>
                <li><a href="../contactUs/contact.html">联系我们</a></li>
            </ul>
        </div>
   </div>
</nav>
<!--about_us start-->
<div class="common about_us">
    <div class="inner_banner">
        <img src="../public/images/inner_banner.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-3 left_side">
                <div class="bgc">
                    <div class="common_bar">
                        <h3>关于我们</h3>
                        <h5>About Us</h5>
                    </div>
                    <div class="common_list">
                        <ul class="lists_bar">
                            <li><a href="./company_introduce.html">公司介绍</a></li>
                            <li><a href="./about_vam.html">企业愿景</a></li>
                            <li class="active"><a href="./team.html">核心团队</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg left_mini">
                <div class="list_mini">
                    <ul class="mini_bar">
                        <li><a href="./company_introduce.html">公司介绍</a></li>
                        <li><a href="./about_vam.html">企业愿景</a></li>
                        <li class="active"><a href="./team.html">核心团队</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 right_side">
                <h3>团队介绍</h3>
                <div class="bgc team_lists">
                    <div class="row person_list">
                        <div class="col-xs-12 col-sm-4 person_img">
                            <img src="../public/images/team.png" alt="">
                        </div>
                        <div class="col-xs-12 col-sm-8 person_detail">
                            <h3>杨教授</h3>
                            <h3>1992 First Award Won Best Company</h3>
                            <p>First Award Won Best CompanyFirst Award Won Best CompanyFirst Award Won Best CompanyFirst Award Won Best Company</p>
                        </div>
                    </div>
                    <div class="row person_list">
                        <div class="col-xs-12 col-sm-4 person_img">
                            <img src="../public/images/team.png" alt="">
                        </div>
                        <div class="col-xs-12 col-sm-8 person_detail">
                            <h3>杨教授</h3>
                            <h3>1992 First Award Won Best Company</h3>
                            <p>First Award Won Best CompanyFirst Award Won Best CompanyFirst Award Won Best CompanyFirst Award Won Best Company</p>
                        </div>
                    </div>
                    <div class="row person_list">
                        <div class="col-xs-12 col-sm-4 person_img">
                            <img src="../public/images/team.png" alt="">
                        </div>
                        <div class="col-xs-12 col-sm-8 person_detail">
                            <h3>杨教授</h3>
                            <h3>1992 First Award Won Best Company</h3>
                            <p>First Award Won Best CompanyFirst Award Won Best CompanyFirst Award Won Best CompanyFirst Award Won Best Company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
<!--about_us end-->
<!--尾部-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 bottom_logo text-center">
                <img src="../public/images/logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
           <div class="hidden-xs col-sm-10 col-sm-push-1 text-center">
                <ul class="bottom_path text-center">
                    <li>首页</li>
                    <li>产品中心</li>
                    <li>关于我们</li>
                    <li>业务合作</li>
                    <li>公司新闻</li>
                    <li>联系我们</li>
                </ul>
           </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 beian">
                <p class="text-center">天津博美开泰生物科技医药有限公司 © 版权所有京ICP备案19283746&emsp;&emsp;&emsp;&emsp;京公网安备</p>
            </div>
        </div>
    </div>
    
</footer>

<script src="../public/js/jquery-1.11.3.js"></script>
<script src="../public/js/bootstrap.js"></script>
</body>
</html>