<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>博美开泰</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/css/cssreset.css">
    <link rel="stylesheet" href="../public/css/header_footer.css">
    <link rel="stylesheet" href="../public/css/common/aboutus.css">
    <link rel="stylesheet" href="../public/css/common/contactUs.css">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top index_nav">
   <div class="container">
        <div class="navbar-header">
            <a href="../index.html" class="my-logo"><img src="../public/images/logo.png" alt=""></a>
            <a href="#menu" class="navbar-toggle" data-toggle="collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div id="menu" class="collapse navbar-collapse">
            <!--菜单-->
            <ul class="nav navbar-nav navbar-right text-center">
                <li><a href="../index.html">首页</a></li>
                <li><a href="../aboutUs/company_introduce.html" >关于我们</a></li>
                <li><a href="../product/product.html">产品管理</a></li>
                <li><a href="../partner/business.html">业务合作</a></li>
                <li><a href="../news/company_news.html">公司新闻</a></li>
                <li><a href="./contact.html" class="active">联系我们</a></li>
            </ul>
        </div>
   </div>
</nav>
<!--about_us start-->
<div class="common contact_us">
    <div class="inner_banner">
        <img src="../public/images/inner_banner.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-3 left_side">
                <div class="bgc">
                    <div class="common_bar">
                        <h3>联系我们</h3>
                        <h5>Company News</h5>
                    </div>
                    <div class="common_list">
                        <ul class="lists_bar">
                            <li class="active"><a href="./company_news.html">联系我们</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg left_mini">
                <div class="list_mini">
                    <ul class="mini_bar">
                        <li class="active"><a href="./company_news.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 contact_right right_side">
                <h3>联系我们</h3>
                <div class="bgc">
                    <div class="msg">联系信息</div>
                    <div class="our_msg">
                        <p class="msg_detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid labore.</p>
                        <div class="contact_methods">
                            <ul class="methods_lists">
                                <li>
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                    <span class="fir">Address:</span>
                                    <span class="sec">Lorem ipsum dolor sit amet</span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-earphone"></i>
                                    <span class="fir">Phone:</span>
                                    <span class="sec">+139 0000 0000</span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-envelope"></i>
                                    <span class="fir">E-mail:</span>
                                    <span class="sec">info@mation.com</span>
                                </li> 
                                <li>
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span class="fir">Follow:</span>
                                    <span class="icon_small"> 
                                        <i class="glyphicon glyphicon-camera"></i>
                                        <i class="glyphicon glyphicon-camera"></i>
                                        <i class="glyphicon glyphicon-camera"></i>
                                        <i class="glyphicon glyphicon-camera"></i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="msg">您的信息</div>
                    <div class="your_msg">
                        <p class="msg_detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid labore.</p>
                        <form action="" class="user_info">
                            <div class="row sub_info">
                                <div class="col-xs-12 col-md-8 sub_msg">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <input type="text" placeholder="Your name">
                                            <input type="text" placeholder="Your name">
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <input type="text" placeholder="Your name">
                                            <input type="text" placeholder="Your name">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <textarea name="sub_information" id="sub_information" placeholder="Your name"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-4 sub_button">
                                    <input type="button" value="提交">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="contact_add">
                    <img src="../public/images/address.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>    
<!--about_us end-->
<!--尾部-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 bottom_logo text-center">
                <img src="../public/images/logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
           <div class="hidden-xs col-sm-10 col-sm-push-1 text-center">
                <ul class="bottom_path text-center">
                    <li><a href="">首页</a></li>
                    <li><a href="">关于我们</a></li>
                    <li><a href="">产品管理</a></li>
                    <li><a href="">业务合作</a></li>
                    <li><a href="">公司新闻</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
           </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 beian">
                <p class="text-center">天津博美开泰生物科技医药有限公司 © 版权所有京ICP备案19283746&emsp;&emsp;&emsp;&emsp;京公网安备</p>
            </div>
        </div>
    </div>
    
</footer>

<script src="../public/js/jquery-1.11.3.js"></script>
<script src="../public/js/bootstrap.js"></script>
</body>
</html>